#container{
		width:1000px;
		margin: 0 auto;
		background-color: blue;
	}
	#header{
	margin-left: 25px;
	}
	#content{
	margin-left: 25px;
	}
	#content2 img {
		width: 300px;
		margin-left: 25px;
		margin-right: 0px;
	}